/* Default Css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: $body-color;
    font-size: $body-fz;
    font-family: $body-fonts;
    font-weight: 400;
    background-color: #F6F6F6;
}

img {
    max-width: 100%;
    max-height: 100%;
    transition: all .3s ease-in-out;
}

/* Shadow and Outline */

a {
    text-decoration: none;
    transition: all .3s ease-in-out;
    &:active,
    &:hover {
        text-decoration: none;
    }
}
h1,
h2,
h3,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    font-family: $body-fonts;
    margin: 0;
}

